/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/11/2017, 12:04:02
    Author     : Frede
*/

.formCadastro{
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

.fundo2{
 	background-color: #CCC;
 	background-image: url('template/telas/fundo1.jpg');
 }
